<div class="anime-container calendar-page">
    <div class="calendar-header">
        <div class="header-content">
            <h1>{{d-icon "calendar-alt"}} Airing Schedule</h1>
            {{#if this.currentUser}}
            <button type="button" class="btn watchlist-toggle {{if this.showOnlyWatchlist " active"}}" {{on "click"
                this.toggleWatchlistFilter}}>
                {{d-icon "heart"}}
                {{d-icon (if this.showOnlyWatchlist "check-square" "square")}}
                My Watchlist
            </button>
            {{/if}}
        </div>
        <p>See what's airing this week (times shown in your local timezone)</p>
    </div>

    <div class="calendar-grid">
        {{#each this.days as |day|}}
        <div class="calendar-day {{if (eq day (this.todayDay)) " today"}}">
            <h3>
                {{get this.dayLabels day}}
                {{#if (eq day (this.todayDay))}}
                <span class="today-badge">Today</span>
                {{/if}}
            </h3>
            <div class="day-anime-list">
                {{#each (get this.scheduleByDay day) as |anime|}}
                <LinkTo @route="anime.show" @model={{anime.mal_id}} class="calendar-anime-item">
                    <img src={{anime.images.jpg.small_image_url}} alt={{anime.title}} loading="lazy" />
                    <div class="anime-info">
                        <span class="anime-title">{{anime.title}}</span>
                        {{#if anime.broadcast.time}}
                        <span class="anime-time">{{this.convertJSTToLocal anime.broadcast.time}}</span>
                        {{/if}}
                    </div>
                </LinkTo>
                {{else}}
                <p class="no-anime">{{if this.showOnlyWatchlist "No watchlist anime airing" "No anime airing"}}</p>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</div>