<div class="anime-database-container">
  <div class="anime-header-actions">
    <h1>Anime Database</h1>
    <LinkTo @route="anime.watchlist" class="btn btn-default">
      {{d-icon "list"}} My Watchlist
    </LinkTo>
  </div>

  <div class="anime-controls {{if this.showFilters 'expanded' 'collapsed'}}">
    <div class="search-section">
      <AnimeSearchBar @value={{this.q}} @onChange={{this.updateSearch}} />
    </div>

    <button type="button" class="btn-advanced-search" {{on "click" this.toggleFilters}}>
      {{#if this.showFilters}}
      {{d-icon "minus"}} Advanced Search
      {{else}}
      {{d-icon "plus"}} Advanced Search
      {{/if}}
    </button>

    {{#if this.showFilters}}
    <AnimeFilterBar @selectedType={{this.type}} @selectedStatus={{this.status}} @selectedGenre={{this.genre}}
      @selectedSort={{this.sort}} @onChange={{this.updateFilter}} @onReset={{this.resetFilters}} />
    {{/if}}
  </div>

  <div class="anime-grid">
    {{#if this.fullAnimeList}}
    {{#if this.fullAnimeList.length}}
    {{#each this.fullAnimeList as |anime|}}
    <AnimeCard @anime={{anime}} @watchlistData={{this.watchlistData}} @onWatchlistUpdate={{this.refreshWatchlist}}
      @activeAnimeId={{this.activeAnimeId}} @onToggleMenu={{this.toggleMenu}} />
    {{/each}}
    {{else}}
    <div class="anime-empty">
      <p>No anime found matching your criteria.</p>
    </div>
    {{/if}}
    {{else}}
    <div class="anime-loading">
      <p>Loading anime database...</p>
    </div>
    {{/if}}
  </div>

  <div class="calendar-footer">
    {{#if this.hasNextPage}}
    <button type="button" class="btn btn-primary load-more-btn" {{on "click" this.loadMore}}
      disabled={{this.loadingMore}}>
      {{#if this.loadingMore}}
      {{d-icon "spinner" class="fa-spin"}} Loading...
      {{else}}
      {{d-icon "plus"}} Load More Anime
      {{/if}}
    </button>
    {{/if}}
  </div>
</div>