<div class="anime-search-bar">
    <div class="search-input-wrapper">
        {{d-icon "magnifying-glass"}}
        <input type="text" value={{this.localValue}} placeholder="Search for Anime... (Press Enter)" {{on "input"
            this.onInput}} {{on "keypress" this.onKeyPress}} {{on "blur" this.onBlur}} />
        {{#if this.localValue}}
        <button type="button" class="btn-clear" {{on "click" this.clearSearch}}>
            {{d-icon "times"}}
        </button>
        {{/if}}
    </div>
</div>